.features_select{
    width: 730px;
    display: flex;
    border-bottom: 1px solid rgba(73, 93, 207, 0.20);
    margin-bottom: 72px;
    position: relative;
}

.features_button{
    width: 33.333333%;
    height: 45px;
    border: none;
    background-color: transparent;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: start;
    color: rgba(36, 42, 69, 0.75);
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 106.25% */
    letter-spacing: 0.533px;
    cursor: pointer;
}

.features_button:hover{
    color: #FA5959;
}

.line_one, .line_two, .line_three{
    width: 33.33333%;
    height: 4px;
    background-color: #FA5959;
    position: absolute;
    bottom: 0px;
    transition: none;
}

.line_one{
    left: 0px;
}

.line_two{
    left: 0px;
    right: 0px;
    margin: auto;
}

.line_three{
    right: 0px;
}




.carousel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.carousel_image{
    width: 536px;
    object-fit: contain;
}

.carousel_content{
    width: 445px;
    display: flex;
    flex-direction: column;
}

.carousel_content > h2{
    color: #242A45;
    font-family: var(--font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 162.5% */
    letter-spacing: -0.1px;
    margin: 0px 0px 36px 0px;
}

.carousel_content > p{
    color: rgba(36, 42, 69, 0.5);
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin: 0px 0px 32px 0px;
}

.carousel_content > button{
    width: 114px;
    height: 48px;
    border-radius: 5px;
    background-color: #5267DF;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
    border: none;
    color: #FFF;
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
    cursor: pointer;
    border: 2px solid #5267DF;
}

.carousel_content > button:hover{
    color: #5267DF;
    background-color: transparent;
}

@media(max-width: 1000px){
    .carousel_image{
        width: 436px;   
    }
}

@media(max-width: 860px){
    .features_select{
        width: 100%;
    }

    .carousel{
        flex-direction: column;
        gap: 40px;
    }

    .carousel_content{
        align-items: center;
    }

    .carousel_image{
        width: auto;
        height: 300px;
    }

    .carousel_content > h2{
        margin-bottom: 12px;
        line-height: 52px;
    }

    .carousel_content > p{
        text-align: center;
        margin-bottom: 16px;
    }
}

@media(max-width: 600px){
    .carousel{
        gap: 69px;
    }

    .carousel_image{
        height: 201px;
    }

    .carousel_content{
        width: 100%;
    }

    .carousel_content > h2{
        font-size: 1.5rem;
        line-height: 52px; /* 216.667% */
        letter-spacing: -0.075px;
        margin-bottom: 0px;
    }

    .carousel_content > p{
        font-size: 0.9375rem;
        line-height: 25px; /* 166.667% */
        margin-bottom: 15px;
    }
}
