@font-face {
    font-family: 'rubik';
    src: url('/public/fonts/Rubik-VariableFont_wght.ttf');
}

.bg_one{
    width: 500px;
    height: 352px;
    border-radius: 316.5px 0px 0px 316.5px;
    background: #5267DF;
    position: absolute;
    z-index: var(--farthest);
    right: 0px;
    top: 336px;
}


.bg_two{
    width: 500px;
    height: 352px;
    border-radius: 0px 316.5px 316.5px 0px;
    background: #5267DF;
    position: absolute;
    z-index: var(--farthest);
    left: 0px;
    top: 1196px;
}

:root{
    --font: 'rubik';
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 1;
}

body{
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}


* {
    transition: all 0.2s linear;
    box-sizing: border-box;
}

@media(max-width: 1065px){
    .bg_one{
        top: 286px;
        width: 400px;
    }
}

@media(max-width: 860px){
    .bg_one{
        top: 220px;
    }
}

@media(max-width: 600px){
    .bg_one{
        top: 197px;
        height: 203px;
        width: 288px;
    }
}